#reference {
    display: grid;
    grid-template-columns: repeat(var(--ncol-reference), 1fr);
    width: var(--width-reference);
    overflow: auto;
    list-style-type: "";
    text-align: left;
    margin: 0 auto;
    padding: 0;
}

.liref {
    text-decoration: none;
    transition: all 0.4s;
    cursor: pointer;
    margin-bottom: 0.3vw;
}

#clipboard {
    position: fixed;
    padding: 0.2vw;
    color: white;
    font-size: 0.9rem;
    opacity: 1;
    border-radius: 0.25rem;
    display: block;
    z-index: 1;
}
